<section class="space--xxs bg--secondary">
  <div class="container">
    <div class="row text-block">
      <div class="col-md-12">
        <h3>More recent stories</h3>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <% @webinar2.shuffle.each do |web| %>
        <div class="col-md-4">
          <article class="feature feature-1">
              <%= link_to webinar_path(web), class: "block"  do %>
                <%= image_tag web.image %>
              <% end %>
            <div class="feature__body boxed boxed--border">
              <span><%= web.created_at.strftime("%d %b %Y") %>,</span> <em> Speaker: <%= web.speaker.titleize %></em>
              <h5><%= web.title.titleize %></h5>
              <a href="#">
                <%= link_to "Read More", webinar_path(web) %>
              </a>
            </div>
          </article>

        </div>
      <% end %>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>