<!doctype html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <title>Belajar.Work</title>
  <meta name="description" content="Belajar.Work provide any topics using webinar and screencast media platform." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>

<body data-smooth-scroll-offset="77">


    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

